<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar></div>
    <mat-card-title style="color: green">{{ post.title }}</mat-card-title>
    <mat-card-subtitle style="background-color: orange">{{
      post.id
    }}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <p style="color: red">
      {{ post.body }}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="liked()">LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
